<a href="https://colab.research.google.com/github/KubraErensoy/BTK-DATASCIENCE/blob/main/Universite_S%C4%B1ralamas%C4%B1_code3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from plotly.offline import init_notebook_mode,iplot,plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.io as pio
import plotly.figure_factory as ff

# Yeni Bölüm

In [ ]:
veri=pd.read_csv("universite_siralamasi.csv")

In [ ]:
veri.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [ ]:
veri.head(3)

  world_rank                        university_name  ... female_male_ratio  year
0          1                     Harvard University  ...               NaN  2011
1          2     California Institute of Technology  ...           33 : 67  2011
2          3  Massachusetts Institute of Technology  ...           37 : 63  2011

[3 rows x 14 columns]

In [ ]:
veri.rename(columns={'world_rank'             :'dunya_siralama',
                     'university_name'        :'uni_isim',
                     'country'                :'ulke',
                     'teaching'               :'ogretim',
                     'international'          :'uluslararasi',
                     'research'               :'arastirma',
                     'citations'              :'alinti', 
                     'income'                 :'gelir',
                     'total_score'            :'toplam_puan',
                     'num_students'           :'ogrenci_sayisi',
                     'student_staff_ratio'    :'ogrenci_calisan_orani',
                     'international_students' :'uluslararasi_ogrenci',
                     'female_male_ratio'      :'kadın_erken_orani',
                     'year'                   :'yil'},inplace=True)

In [ ]:
veri.head(2)

  dunya_siralama                            uni_isim  ... kadın_erken_orani   yil
0              1                  Harvard University  ...               NaN  2011
1              2  California Institute of Technology  ...           33 : 67  2011

[2 rows x 14 columns]

**ÇİZGİ GRAFİĞİ**

In [ ]:
df=veri.iloc[:100,:]#ilk yüz üniversite
df.head(3)

  dunya_siralama                               uni_isim  ... kadın_erken_orani   yil
0              1                     Harvard University  ...               NaN  2011
1              2     California Institute of Technology  ...           33 : 67  2011
2              3  Massachusetts Institute of Technology  ...           37 : 63  2011

[3 rows x 14 columns]

In [ ]:
#plotly stilleri
pio.templates.default="simple_white"

In [ ]:
cizgi1=go.Scatter(x=df.dunya_siralama,
                  y=df.alinti,
                  mode="markers",
                  name="Alıntı",
                  marker=dict(color='rgba(78,78,250,0.85)'),
                  text=df.uni_isim)
cizgi2=go.Scatter(x=df.dunya_siralama,
                  y=df.ogretim,
                  mode="markers",
                  name="Eğitim-Öğretim Faaliyetleri",
                  marker=dict(color='rgba(202,43,15,0.85)'),
                  text=df.uni_isim)
veri=[cizgi1,cizgi2]
yerlesim=dict(title='Dünya Sıralamasında İlk 100 Üniversitenin Atıf ve Eğitim-Öğretim Puanları',
              xaxis=dict(title='Dünya Sıralaması',ticklen=5,zeroline=False))
fig=dict(data=veri,layout=yerlesim)
plot(fig,filename='1_çizgi-alıntı ve öğretim puanları.html')

'1_çizgi-alıntı ve öğretim puanları.html'

**Çubuk Grafiği**

In [ ]:
veri2014=df[df.yil==2014].iloc[:5,:]

cizgi1=go.Bar(x=veri2014.uni_isim,
              y=veri2014.alinti,
              name="Alıntı",
              marker=dict(color='rgba(255,127,40,0.5)',
                     line=dict(color='rgb(0,0,0)',width=1.5)),
              text=veri2014.ulke)

cizgi2=go.Bar(x=veri2014.uni_isim,
              y=veri2014.ogretim,
              name="Eğitim-Öğretim Faaliyetleri",
              marker=dict(color='rgba(64,10,128,0.5)',
                     line=dict(color='rgb(0,0,0)',width=1.5)),
              text=veri2014.ulke)

veri_=[cizgi1,cizgi2]
yerlesim=go.Layout(barmode="group")
fig=go.Figure(data=veri_,layout=yerlesim)
plot(fig,filename='2_çubuk-alıntı ve öğretim puanları.html')

'2_çubuk-alıntı ve öğretim puanları.html'

**Dairesel Grafik**

In [ ]:
veri2011=df[df.yil==2011].iloc[:8,:]

dilim1=veri2011.ogrenci_sayisi
dilim1_liste=[float(each.replace(',','.')) for each in veri2011.ogrenci_sayisi]
etiketler=veri2011.uni_isim

cizgi=go.Pie(labels= etiketler,
             values=dilim1_liste,
             hoverinfo='label+value+percent',
             textinfo='value+percent',
             textfont=dict(size=8),
             rotation=180,
             hole=0.3,
             marker=dict(line=dict(color='#000000',width=1)))
veri_=[cizgi]
yerlesim=dict(title='2011 Yılı-İlk Üniversitenin Öğrenci Sayıları ve Oranları ',
              legend=dict(orientation="h"))
fig=dict(data=veri_,layout=yerlesim)
plot(fig,filename='3_dairesel-öğrenci sayısı.html')

'3_dairesel-öğrenci sayısı.html'

**Kabarcık Grafiği**

In [ ]:
veri2011=df[df.yil==2011].iloc[:20,:]
ogrenci_sayisi=[float(each.replace(',','.')) for each in veri2011.ogrenci_sayisi]
uluslararasi_renk=[float(each) for each in veri2011.uluslararasi]

data=[{'y':veri2011.ogretim,
       'x':veri2011.dunya_siralama,
       'mode':'markers',
       'marker':{'color':uluslararasi_renk,
                 'size':ogrenci_sayisi,
                 'showscale':True},
       "text":veri2011.uni_isim
       
       
      }]
plot(data,filename='4_kabarcık-öğrenci sayıs.html')

ValueError: ignored